<!DOCTYPE html>
<html lang="en">
<h1> display</h1>
<p>
{% for information in info %}
    <p> {{information.0}}</p>
    <p> {{information.1}}</p>
    <p> {{information.2}}</p>
    <p> {{information.3}}</p>
    <p> {{information.4}}</p>
    <p> {{information.5}}</p>
    <p> {{information.6}}</p>
    <p> {{information.7}}</p>
    <p> {{information.8}}</p>
    <p> {{information.9}}</p>
    <p> {{information.10}}</p>
    <p> {{information.11}}</p>
    <p> {{information.12}}</p>
    <p> {{information.13}}</p>
    <p> {{information.14}}</p>
    <p> {{information.15}}</p>
    <p> {{information.16}}</p>
    <p> {{information.17}}</p>
    <p> {{information.18}}</p>
    <p> {{information.19}}</p>
{% endfor %}
</p>

</html>